body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset,
	legend, input, textarea, select, a, li {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

/*公共模块样式*/
#index_MainHeader {
	position: fixed;
	top: 0;
	width: 113.84em;
	height: 4.1em;
	background-color: rgba(24, 24, 24, 1);
}

#index_MainHeader_left, #index_MainHeader_mid_left,
	#index_MainHeader_mid_mid, #index_MainHeader_mid_right,
	#index_MainHeader_right {
	float: left;
	height: 100%;
	line-height: 4em;
}

#index_MainHeader_left {
	width: 12em;
}

#index_MainHeader_left img {
	padding: 0.1em 0 0 3em
}

#index_MainHeader_mid_left {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	color: #fff;
	margin-top: -0.5em;
}

#index_MainHeader_mid_left ul {
	width: 20em;
	height: 100%;
}

#index_MainHeader_mid_left ul li {
	float: left;
	margin-left: 1em;
}

#index_MainHeader_mid_left ul li a {
	color: #fff;
}

#index_MainHeader_mid_left .active {
	color: #FECA2E;
}

#index_MainHeader_mid_mid {
	width: 18em;
	margin-left: 2em;
	height: 100%;
	height: 100%;
}

#index_MainHeader_mid_mid ul {
	width: 17em;
	height: 100%;
}

#index_MainHeader_mid_mid ul li {
	float: left;
}

#index_MainHeader_mid_mid ul li a {
	color: #CACACA;
	font-family: '微软雅黑';
	font-size: 0.9em;
	margin-left: 1em;
	margin-top: 0.2em;
	text-shadow: 0.05em;
}

#index_MainHeader_mid_mid ul li a span {
	margin-right: 0.1em;
}

#index_MainHeader_mid_right {
	margin-left: 1em;
	width: 12em;
	height: 100%;
}

#index_MainHeader_mid_right ul li {
	float: left;
	width: 5em;
}

#signin>a {
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
}

#signin ul {
	width: 8.2em;
	height: 6.4em;
	background-color: black;
	display: none;
}

#signin ul li {
	width: 7.8em;
	height: 2em;
}

#signin ul li a {
	display: inline-block;
	position: relative;
	top: -0.8em;
	left: .7em;
	line-height: 1em;
	color: rgba(255, 255, 255, 0.8);
}

#signin ul li a span {
	font-size: 1.5em;
}

#signin ul li img {
	position: relative;
	top: -0.5em;
	left: .5em;
	width: 1em;
	height: 1.5em;
}

#index_MainHeader_mid_right ul li:hover ul {
	display: block;
}

#index_MainHeader_mid_right ul li:hover ul li:hover {
	font-weight: bold;
}

#singup>a {
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
}

#index_MainHeader_right {
	width: 20em;
	height: 100%;
}

#index_MainHeader_right .header_search_input {
	display: inline-block;
	width: 12em;
	height: 1.5em;
	border-radius: .5em;
	border: 0;
	background-color: rgba(80, 80, 80, 1);
	color: #A9A9A9;
}

#index_MainHeader_right .header_search_button {
	display: inline-block;
	width: 3.5em;
	height: 2em;
	border: 1px black silver;
	border-radius: 0.7em;
	font-weight: bold;
}

/*底部固定播放条样式*/
#index_MainFooter {
	position: fixed;
	bottom: 0;
	width: 113.84em;
	height: 4em;
	/*background-color: rgba(24, 24, 24, 1);*/
}

#index_MainFooter div {
	float: left;
}

#index_MainFooter .play_control {
	/*background-color: red;*/
	width: 17em;
	height: 100%;
}

#index_MainFooter .play_control .pre {
	width: 12em;
	height: 100%;
	background: url("../IMG/sugar.jpg") -13em -13em;
}